#body {
    background-image: url(/assets/Klita/קליטת\ העובד.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    z-index: 1;
    user-select: none;
    position: absolute;
}

#klitaBackground {
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0; 
    top: 0;
    left: 0;
    visibility: hidden;
}

#questionBackground {
    z-index: 6;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0; 
    top: 0;
    left: 0;
    visibility: hidden;
}

@keyframes fadeInQuestions {
    0% { 
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

#blackBackground {
    opacity: 0%;
    z-index: 2;
    position: relative;
    visibility: visible;
}

.cannotSelect {
    pointer-events: none;
}

@keyframes hideBackground {
    0% { 
        opacity: 80%;
    }
    20% {
         opacity: 75%;
    }
    100% {
        opacity: 0%;
    }
}

#nextBtn {
    position: relative;
    top: 93vh;
    left: 3vw;
    position: absolute;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 1;
    width: 7vw;
    height: 5.7vh;
}

#nextBtn:hover { 
    left: 2.8vw;
}

#backBtn {
    visibility: hidden;
    position: relative;
    top: 93vh;
    left: 11.3vw;
    position: absolute;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 1;
    width: 7vw;
    height: 5.7vh;
}

#backBtn:hover { 
    left: 11.5vw;
}

#continueBtn {
    position: relative;
    top: 93vh;
    left: 3vw;
    position: absolute;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    width: 7vw;
    height: 5.7vh;
}

#continueBtn:hover { 
    left: 2.8vw;
}

.stages {
    visibility: hidden;
    position: absolute;
    width: 22vw;
    height: 26vh;
    opacity: 0;
}

#stage1 {
    top: 30vh;
    left: 75vw;
}

#stage2 {
    top: 30vh;
    left: 54vw;
}

#stage3 {
    top: 30vh;
    left: 33vw;
}

#stage4 {
    top: 30vh;
    left: 12vw;
}

#stage5 {
    top: 48vh;
    left: 75.5vw;
}

#stage6 {
    top: 48vh;
    left: 54.6vw;
}

#stage7 {
    top: 48vh;
    left: 33.5vw;
}

#stage8 {
    top: 48vh;
    left: 14vw;
}

@keyframes stagesComeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}